<html>
	<head>
		<title>To Do App</title>
		<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700" rel="stylesheet" type='text/css'> 
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<link rel="stylesheet" href="/styles.css">
	</head>

	<body>
		<nav class="navbar navbar-inverse">
			<div class="container">
					<div class="navbar-header">
      					<a class="navbar-brand" href="#">TaskList</a>
    				</div>
	    		<ul class="nav navbar-nav">
	      			<li><a href="#">Active</a></li>
	      			<li><a href="#">Done</a></li>
	      		</ul>
	    		<ul class="nav navbar-nav navbar-right">
	      			<li><a href="/new"><span class="glyphicons glyphicons-plus-sign"></span> New Task</a></li>
	    		</ul>
  			</div>
		</nav> 
		<div class="container">