<% include partials/header %>
<h1>New task</h1>

<form action='/new' method="POST">
	<input type="text" placeholder="Task Name" name="name">
	<input type="text" placeholder="Task Note" name="description">
	<input type="text" placeholder="Task Type" name="type">
	<button type="submit">Submit</button>
</form>

<% include partials/footer %>