
/*Need to look where used*/
.listheader{
	font-size: 30px;
}

.lead{
	font-size: 14px;
	font-weight: bold;
}

.list-group-item{
	padding: 5px;
}

.zbutton{
	height: 15px;
	margin: auto;
}

.inline{
	display: inline;
}

/*Used in header.ejs*/
#newtask{
	border: 1px solid white;
	border-radius: 8px;
	padding: 5px 10px;
	margin-top: 7px;
	color: white;
}

#headernewicon{
	height: 20px;
	width: 20px;
}


/*Used in home.ejs*/
.dailyitemhold{
	display: none;
	color: gray;
	list-style-type: none;
}

.weeklyitemhold{
	display: none;
	color: gray;
	list-style-type: none;
}


.hideform{
	display:none;
}

.priority{
	background-color: tomato;
}

.hiddencheck{
	display: none;
}

/* used on delegated.ejs */
.delegateditemhold{
	color: gray;
}